body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  cursor: pointer;
}

footer {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}

img {
  width: 150px;
  height: 150px;
}

.mochimachine {
  display: block;
  text-align: right
}

.mochimachine a {
  color: DeepPink;
  font-weight: 600;
}

.meowmania {
  display: block;
  font-size: 0.75em;
  text-align: right;
}

.meowmania a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width : 480px) {
  footer {
    padding: 40px 0 0 40px;
  }

  img {
    width: 250px;
    height: 250px;
  }
}

#preload-01 {
  background: url(img/ballmer/png/ballmer-01.png) no-repeat -9999px -9999px;
}

#preload-02 {
  background: url(img/ballmer/png/ballmer-02.png) no-repeat -9999px -9999px;
}

#preload-03 {
  background: url(img/ballmer/png/ballmer-03.png) no-repeat -9999px -9999px;
}

#preload-04 {
  background: url(img/ballmer/png/ballmer-04.png) no-repeat -9999px -9999px;
}

#preload-05 {
  background: url(img/ballmer/png/ballmer-05.png) no-repeat -9999px -9999px;
}

#preload-06 {
  background: url(img/ballmer/png/ballmer-06.png) no-repeat -9999px -9999px;
}

#preload-07 {
  background: url(img/ballmer/png/ballmer-07.png) no-repeat -9999px -9999px;
}

#preload-08 {
  background: url(img/ballmer/png/ballmer-08.png) no-repeat -9999px -9999px;
}

#preload-09 {
  background: url(img/ballmer/png/ballmer-09.png) no-repeat -9999px -9999px;
}

#preload-10 {
  background: url(img/ballmer/png/ballmer-10.png) no-repeat -9999px -9999px;
}

#preload-11 {
  background: url(img/ballmer/png/ballmer-11.png) no-repeat -9999px -9999px;
}

#preload-12 {
  background: url(img/ballmer/png/ballmer-12.png) no-repeat -9999px -9999px;
}

#preload-13 {
  background: url(img/ballmer/png/ballmer-13.png) no-repeat -9999px -9999px;
}

#preload-14 {
  background: url(img/ballmer/png/ballmer-14.png) no-repeat -9999px -9999px;
}

#preload-15 {
  background: url(img/ballmer/png/ballmer-15.png) no-repeat -9999px -9999px;
}
