body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  cursor: pointer;
}

footer {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}

img {
  width: 150px;
  height: 150px;
}

.mochimachine {
  display: block;
  text-align: right
}

.mochimachine a {
  color: DeepPink;
  font-weight: 600;
}

.meowmania {
  display: block;
  font-size: 0.75em;
  text-align: right;
}

.meowmania a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width : 480px) {
  footer {
    padding: 40px 0 0 40px;
  }

  img {
    width: 250px;
    height: 250px;
  }
}

#preload-01 {
  background: url(img/ballmer/png/ballmer-01.png) no-repeat -9999px -9999px;
}

#preload-02 {
  background: url(img/ballmer/png/ballmer-02.png) no-repeat -9999px -9999px;
}

#preload-03 {
  background: url(img/ballmer/png/ballmer-03.png) no-repeat -9999px -9999px;
}

#preload-04 {
  background: url(img/ballmer/png/ballmer-04.png) no-repeat -9999px -9999px;
}

#preload-05 {
  background: url(img/ballmer/png/ballmer-05.png) no-repeat -9999px -9999px;
}

#preload-06 {
  background: url(img/ballmer/png/ballmer-06.png) no-repeat -9999px -9999px;
}

#preload-07 {
  background: url(img/ballmer/png/ballmer-07.png) no-repeat -9999px -9999px;
}

#preload-08 {
  background: url(img/ballmer/png/ballmer-08.png) no-repeat -9999px -9999px;
}

#preload-09 {
  background: url(img/ballmer/png/ballmer-09.png) no-repeat -9999px -9999px;
}

#preload-10 {
  background: url(img/ballmer/png/ballmer-10.png) no-repeat -9999px -9999px;
}

#preload-11 {
  background: url(img/ballmer/png/ballmer-11.png) no-repeat -9999px -9999px;
}

#preload-12 {
  background: url(img/ballmer/png/ballmer-12.png) no-repeat -9999px -9999px;
}

#preload-13 {
  background: url(img/ballmer/png/ballmer-13.png) no-repeat -9999px -9999px;
}

#preload-14 {
  background: url(img/ballmer/png/ballmer-14.png) no-repeat -9999px -9999px;
}

#preload-15 {
  background: url(img/ballmer/png/ballmer-15.png) no-repeat -9999px -9999px;
}


/* Web Speech CSS */
p {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 100px;
	margin: 0;
	-webkit-text-stroke: 1px rgba(black, 0.2);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	color: black;
	text-shadow: 
		-1px 2px 1px #a0a0a0,
		-2px 4px 2px #a0a0a0,
		-3px 6px 3px rgba(#a0a0a0, 0.6),
		-4px 8px 4px rgba(#a0a0a0, 0.5),
		-5px 10px 5px rgba(#a0a0a0, 0.4),
		-6px 12px 6px rgba(#a0a0a0, 0.3),
		-7px 13px 7px rgba(#a0a0a0, 0.2),
		-8px 15px 8px rgba(#a0a0a0, 0.2),
		-9px 17px 9px rgba(#a0a0a0, 0.2),
		-10px 19px 10px rgba(#a0a0a0, 0.2),
		-11px 20px 11px rgba(#a0a0a0, 0.1),
		-12px 22px 12px rgba(#a0a0a0, 0.1),
		-13px 24px 13px rgba(#a0a0a0, 0.1),
		-14px 26px 14px rgba(#a0a0a0, 0.1),
		-15px 28px 15px rgba(#a0a0a0, 0.1),
		-16px 30px 16px rgba(#a0a0a0, 0.1),
		-17px 32px 17px rgba(#a0a0a0, 0.1),
		-18px 34px 18px rgba(#a0a0a0, 0.1),
		-19px 36px 19px rgba(#a0a0a0, 0.1),
		-20px 38px 20px rgba(#a0a0a0, 0.1),
		-21px 39px 21px rgba(#a0a0a0, 0.1);
}